<ion-content [fullscreen]="true">
  <div>
    <ion-card *ngFor="let categoria of categorias">
      <ion-card-title>{{ categoria.nombre }}</ion-card-title>
      <ion-card-content>
        {{ categoria.descripcion }}
      </ion-card-content>

      <ion-button expand="block" color="primary" (click)="redirectToUpdateCate()">
        Actualizar
      </ion-button>

      <ion-button expand="block" color="black" (click)="redirectToshowhome()">
        Cancelar
      </ion-button>
    </ion-card>
  </div>
  
</ion-content>


