.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f9f9f9;
}

ion-card {
  width: 100%;
  max-width: 300px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-header-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  margin-bottom: 10px;
}

.login-image {
  width: 80px;
  height: auto;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #fef5f5;
}


.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-size: 14px;
    font-weight: bold;
    color: #ece6e6;
    margin-bottom: 5px;
  }

  ion-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 10; 
    position: relative;

    &:focus {
      border-color: var(--ion-color-primary);
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }
}

ion-button {
  margin-top: 10px;
  width: 100%;
}

/* Ajustes globales */
ion-content {
  pointer-events: auto;
  position: relative;
  z-index: 1;
}
