<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actualizar Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="recetaForm" (ngSubmit)="actualizarReceta()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input
        formControlName="titulo"
        [value]="recetaForm.get('titulo')?.value"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea
        formControlName="descripcion"
        [value]="recetaForm.get('descripcion')?.value"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Instrucciones</ion-label>
      <ion-textarea
        formControlName="instrucciones"
        [value]="recetaForm.get('instrucciones')?.value"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ingredientes</ion-label>
      <ion-textarea
        formControlName="ingredientes"
        [value]="recetaForm.get('ingredientes')?.value"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tiempo de Cocción (minutos)</ion-label>
      <ion-input
        type="number"
        formControlName="tiempo_coccion"
        [value]="recetaForm.get('tiempo_coccion')?.value"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select
        formControlName="id_categoria"
        [value]="recetaForm.get('id_categoria')?.value"
        placeholder="Seleccione una categoría"
      >
        <ion-select-option
          *ngFor="let categoria of categorias"
          [value]="categoria.idcategoria"
        >
          {{ categoria.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Imagen</ion-label>
      <input
        type="file"
        (change)="onFileChange($event)"
        accept="image/*"
      />
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="recetaForm.invalid">
      Actualizar Receta
    </ion-button>
  </form>
</ion-content>
