<ion-card *ngFor="let receta of recetas">
  <ion-card-header>
    <ion-card-title class="ion-text-center">{{ receta.titulo || 'Sin título' }}</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <p><strong>Categoría:</strong></p>
    <p>{{ receta.categorias }}</p>
    
    <p><strong>Descripción:</strong></p>
    <p>{{ receta.descripcion || 'No se proporcionó descripción' }}</p>
 
    <p><strong>Tiempo de cocción (min):</strong></p>
    <p>{{ receta.tiempo_coccion ? receta.tiempo_coccion : 'No especificado' }}</p>
  
    <p><strong>Instrucciones:</strong></p>
    <p>{{ receta.instrucciones || 'Sin instrucciones' }}</p>
    
    <ion-button expand="block" color="primary" (click)="redirectToUpdateRe(receta.idrecetas)">
      Actualizar
      
    </ion-button> 
  
    <ion-button expand="block" color="danger" (click)="presentConfirm(receta.idrecetas)">
      Eliminar
    </ion-button>

    <ion-button expand="block" color="primary" (click)="redirectTohome()">
      cancelar
      
    </ion-button> 
    
  </ion-card-content>
  
</ion-card>
