<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card *ngFor="let receta of recetas">
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{ receta.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-img [src]="receta.imagen" alt="{{ receta.titulo }}" class="receta-imagen"></ion-img>

      <ion-card-content>
        <p><strong>Categoria:</strong></p>
        <p>{{ receta.categoria }}</p>
        
        <p><strong>Descripción:</strong></p>
        <p>{{ receta.descripcion }}</p>
     
        <p><strong>Tiempo de cocción (min):</strong></p>
        <p>{{ receta.tiempo_coccion }}</p>
      
        <p><strong>Instrucciones:</strong></p>
        <p>{{ receta.instrucciones }}</p>
      </ion-card-content>

      <ion-button expand="block" color="primary" (click)="redirectToUpdateRe(receta.id)">
        Actualizar
      </ion-button>      
    </ion-card>
  </div>
</ion-content>
