/* Estilo general */
:root {
  --primary-color: #00796b; /* Verde azulado */
  --secondary-color: #263238; /* Azul petróleo oscuro */
  --text-color: #e0f2f1; /* Texto claro */
  --accent-color: #d32f2f; /* Rojo oscuro para acciones */
}

ion-header {
  --background: var(--secondary-color);
  ion-toolbar {
    --background: transparent;
    --color: var(--text-color);
    ion-title {
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    ion-buttons img {
      height: 40px;
      width: auto;
    }
  }
}

ion-content {
  --background: linear-gradient(to bottom, #263238, #37474f); /* Azul petróleo degradado */
  color: var(--text-color);
  padding: 1rem;
}

.menu-container ion-button {
  --background: var(--primary-color);
  --color: var(--text-color);
  --border-radius: 8px;
  margin-bottom: 10px;
}

/* Títulos de secciones */
.section-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 20px 0;
  color: var(--primary-color);
  text-align: center;
}

.filter-buttons ion-button {
  --background: none;
  --border-color: var(--primary-color);
  --color: var(--primary-color);
  --border-radius: 12px;
  margin: 5px;
}

/* Sección de información */
.info-section {
  background-color: #37474f;
  padding: 15px;
  border-radius: 12px;
  margin-top: 20px;
  h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: var(--primary-color);
  }
  p {
    font-size: 1rem;
    color: var(--text-color);
  }
}

/* Grid de imágenes */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}
.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Barra de navegación inferior */
ion-tab-bar {
  --background: #37474f;
  ion-tab-button {
    color: var(--text-color);
    ion-icon {
      font-size: 1.2rem;
      color: var(--text-color);
    }
  }
  ion-tab-button[aria-selected="true"] {
    --color: var(--primary-color);
  }
}
